.illustration-head-line {
  background-image: url("../img/illustration-head-line.png");
  background-position-y: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}

.container-Head-Line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
.Supporting-Head-line{
  display: flex;
  justify-content: center;
}
.h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
.head-line-suporting-text{
  width: 327px;
}

/* proportion */
.Proportion-Text {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: center;
}
