body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.flex-center-vertical-horizental {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
