.work-section {
  padding-bottom: 50px;
}

.Work-Head-line {
  display: flex;
  flex-shrink: 0;
}

.h1-work {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  width: 327px;
  line-height: 52px;
  text-align: center;
  display: inline-block;
}

.green-decorator {
  display: flex;
  width: 40px;
  font-family: "Inter", sans-serif;
  border: 2px solid #36b37e;
  border-radius: 24px;
}

.text-inside-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.container-information {
  position: relative;
  width: 327px;
  height: 222px;
  left: calc(50% - 327px / 2);
  bottom: 0;
}

.gray-content-height {
  height: 250px;
}

.work-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  width: 295px;
  height: 57px;
}

.skils {
  /*display: flex;
  flex-wrap: wrap;
  gap: 8px;*/
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.skils-border {
  float: left;
  margin-left: 4px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
}

.skils-border1 {
  margin: 4px;
  padding: 8px 12px;
  border-radius: 4px;
}
/**shift for Languages */
.skils-shift-languages-1{
  float: left;
  margin-left: 0px;
}
.skils-shift-languages-2{
float: left;

}
.skils-shift-languages-3{
  float: left;
}
.skils-shift-languages-4{
  float: left;
  clear: 1;
  margin-left: 80px;
}
.skils-shift-languages-5{
  float: left;
}
/** shift for Frameworks**/
.skils-shift-1{
  float: left;
  margin-left: 30px;
}
.skils-shift-2{
float: left;

}
.skils-shift-3{
  float: left;
}
.skils-shift-4{
  float: left;
  clear: 1;
  margin-left: 80px;
}
.skils-shift-5{
  float: left;
}
/** skils shift **/
.skils-shift-skils-1{
  float: left;
  margin-left: 10px;
}
.skils-shift-skils-2{
float: left;
}
.skils-shift-skils-3{
  float: left;
}
.skils-shift-skils-4{
  float: left;
}
.skils-shift-skils-5{
  float: left;
  clear: 1;
  margin-left: 120px;
}


.skils-txt {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
